:root {
	--color-background: rgb(15, 24, 40);
	--color-card: rgb(21, 35, 55);
	--color-text: rgb(109, 132, 162);
	--color-accent: rgb(8, 255, 255);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--color-background);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
